{% load static %}
<!--
<h3>Hello world</h3>

<img src="{% static 'images/2.jpg' %}" >

-->

<!DOCTYPE html>
<html>
<head>
    <title> Hi, I'm Natalia</title>
    <link  href ="{%static '/css/main.css' %}" rel = "stylesheet" type = "text/css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="card card-body" id="profile-wrapper">
                    <img id="profile-pic" src="{% static 'images/1.jpeg' %}" >
                    <hr>
                    <h4> Hi, I'm Natalia </h4>
                        <p> I'd like to introduce myself.</p>
                </div>
            </div>
            <div class="col-md-9">
                <div class="card card-body">
                    <h4>Something about me</h4>
                    <hr>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Fusce rhoncus quam id ante mollis, vel feugiat augue auctor.
                        Fusce varius sapien magna, a faucibus dui pulvinar vel.
                        Donec posuere semper velit sit amet porttitor.
                        Sed euismod diam mauris, ut ultrices enim egestas vitae.
                        Cras ut diam semper, consequat magna ac, sagittis turpis.
                        Duis hendrerit urna vel libero suscipit, placerat pulvinar diam elementum.
                        Praesent pharetra ex vel dolor porta euismod. Vivamus et rhoncus dolor, lobortis cursus quam.
                        Ut volutpat velit sit amet lectus iaculis, id tristique enim lacinia. </p>

                    <ul class="social-links">
                        <li><img class="social" src="{% static 'images/f.png' %}"> </li>
                        <li><img class="social" src="{% static 'images/i.jpeg' %}"> </li>
                        <li><img class="social" src="{% static 'images/l.jpeg' %}"> </li>

                    </ul>

                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-6">
                <div class="card card-body h-100">

                    <h4>Hobby</h4>
                    <hr>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    <ul class="social-links">
                        <li><img class="social" src="{% static 'images/p.jpeg' %}" ></li>
                        <li><img class="social" src="{% static 'images/bieg.jpeg' %}" ></li>
                        <li><img class="social" src="{% static 'images/lapa.jpeg' %}" ></li>

                    </ul>


                </div>
            </div>
            <div class="col-md-6">
                <div class="card card-body h-100">

                    <h4>Technology</h4>
                    <hr>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>

                    <ul class="social-links">
                        <li><img class="social" src="{% static 'images/index.jpeg' %}" ></li>
                        <li><img class="social" src="{% static 'images/index2.jpeg' %}" ></li>


                    </ul>
                </div>
            </div>
        </div>

    </div>



</body>
</html>